@use "/src/mixins" as *;

.form-heading {
  font-size: var(--text-xl);
  color: var(--clr-blue-600);
  margin-bottom: var(--spacing-4);
}

.form {
  display: grid;
  gap: var(--spacing-4);

  &__label span {
    font-size: var(--text-sm);
    font-weight: bold;
    color: var(--clr-blue-600);
  }

  &__label p {
    font-size: var(--text-sm);
    margin-bottom: var(--spacing-1);
  }

  &__description {
    color: var(--clr-grey-600);
  }

  &__error {
    color: var(--clr-red-400);
    background-color: var(--clr-red-100);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius);
  }

  &__input,
  &__select,
  &__textarea {
    display: block;
    border-radius: var(--radius);
    border: none;
    padding: var(--spacing-3) var(--spacing-4);
    background-color: var(--clr-grey-200);
    color: var(--clr-grey-600);
    width: 100%;

    @include for-desktop {
      padding: var(--spacing-3) var(--spacing-6);
    }

    &:invalid {
      outline: 2px solid currentColor;
      color: var(--clr-red-400);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-4);
    margin-top: var(--spacing-4);
    text-align: center;

    @include for-desktop {
      flex-direction: row;
      justify-content: flex-end;
      gap: var(--spacing-2);

      > * + * {
        margin-left: var(--spacing-4);
      }

      &__delete-btn {
        margin-right: auto;
      }
    }
  }

  &__container {
    padding: var(--spacing-16) var(--spacing-6);
    background-color: white;
    position: relative;
    border-radius: var(--radius);
    margin-top: var(--spacing-16);

    @include for-desktop {
      padding: var(--spacing-12);
    }
  }
}
