@use "/src/mixins" as *;

.grid {
  display: grid;

  @include for-desktop {
    grid-template-columns: 250px 1fr;
    column-gap: var(--spacing-6);
  }
}

.suggestions__banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-4) var(--spacing-6);
  margin-bottom: var(--spacing-6);

  background-color: var(--clr-blue-600);
  color: var(--clr-white);

  @include for-desktop {
    border-radius: var(--radius);
  }

  @include for-mobile {
    & img,
    & p {
      display: none;
    }
  }

  & img {
    margin-right: var(--spacing-4);
  }

  & p {
    font-weight: bold;
    margin-right: var(--spacing-6);
  }

  & label {
    color: var(--clr-grey-200);
    font-size: var(--text-sm);
  }

  & select {
    border: none;
    background-color: transparent;
    color: var(--clr-white);
    font-weight: bold;

    & option {
      color: var(--clr-blue-600);
    }
  }

  & .btn {
    margin-left: auto;
  }
}

.suggestions {
  margin-inline: var(--spacing-6);

  @include for-desktop {
    margin-inline: 0;
  }

  & > * + * {
    margin-top: var(--spacing-6);
  }
}
