.roadmap {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-6);
    background-color: var(--clr-blue-600);
    border-radius: var(--radius);

    &__title {
      font-size: var(--text-2xl);
      color: var(--clr-white);
    }

    &__back {
      color: var(--clr-white);
      margin-left: var(--spacing-4);

      & svg path {
        stroke: currentColor;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 325px));
    justify-content: space-between;
    gap: 1rem;
    margin-top: var(--spacing-10);
  }
}
