@use "/src/mixins" as *;

.roadmap {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-6);
    background-color: var(--clr-blue-600);

    &__title {
      font-size: var(--text-lg);
      color: var(--clr-white);
    }

    &__back {
      color: var(--clr-white);
      margin-left: var(--spacing-4);

      & svg path {
        stroke: currentColor;
      }
    }
  }

  @include for-desktop {
    &__header {
      border-radius: var(--radius);
    }

    &__title {
      font-size: var(--text-2xl);
    }
  }

  &__grid {
    display: grid;
    padding: var(--spacing-6);
    gap: var(--spacing-6);

    @include for-desktop {
      justify-content: space-between;
      margin-top: var(--spacing-10);
      grid-template-columns: repeat(3, minmax(200px, 325px));
    }
  }
}
