.go-back {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  color: var(--clr-grey-600);
  font-weight: bold;
  font-size: var(--text-sm);
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}
