.suggestion {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  padding: var(--spacing-6);
  border-radius: var(--radius);
  border: 2px solid var(--clr-white);

  color: var(--clr-blue-600);
  background-color: var(--clr-white);
  text-decoration: none;

  transition: 100ms border-color ease-out;

  &:hover,
  &:focus {
    border-color: var(--clr-blue-400);

    .suggestion__title {
      color: var(--clr-blue-400);
    }
  }

  &__link {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--text-lg);
    color: var(--clr-blue-600);
  }

  &__desc {
    font-size: var(--text-sm);
    color: var(--clr-grey-600);
  }

  &__comments {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & span {
      font-weight: bold;
    }
  }
}
