.no-suggestions {
  display: grid;
  justify-items: center;
  background-color: var(--clr-white);
  color: var(--clr-grey-600);
  padding: var(--spacing-24) var(--spacing-6);
  text-align: center;

  & img {
    margin-bottom: var(--spacing-10);
  }

  & h2 {
    color: var(--clr-blue-600);
    font-weight: bold;
    margin-bottom: var(--spacing-4);
  }

  & .btn {
    margin-top: var(--spacing-10);
  }
}
