@use "/src/mixins" as *;

.container {
  @include for-desktop {
    max-width: 70rem;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    margin: var(--spacing-24) auto;
  }

  &--skinny {
    max-width: 35rem;
  }
}

.grid-end {
  justify-self: end;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: var(--radius);
  padding: var(--spacing-2) var(--spacing-4);
  color: var(--clr-white);
  text-decoration: none;

  font-size: var(--text-sm);
  font-weight: bold;
  cursor: pointer;
  transition: filter 100ms ease-out;

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }

  &--blue {
    background: var(--clr-blue-400);
  }

  &--dark-blue {
    background-color: var(--clr-blue-600);
  }

  &--purple {
    background-color: var(--clr-purple-400);
  }

  &--red {
    background-color: var(--clr-red-400);
  }
}

.floating-icon {
  position: absolute;
  top: 0;
  left: var(--spacing-12);
  width: 3.5rem;
  height: 3.5rem;

  transform: translateY(-50%);
}

.pill {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-4);
  border-radius: var(--radius);
  margin-top: var(--spacing-2);

  font-size: var(--text-sm);
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--clr-grey-200);
  color: var(--clr-blue-400);
}
